@use "@scss/core/variables" as *;
@use "@scss/core/mixins" as *;

.tg-register {
  background-color: $main-text-color;
  padding: 80px 0;
  color: $color-white;
  text-align: center;

  &__container {
    @include container(800px);
  }

  &__title {
    font-family: $font-heading;
    font-size: $font-size-xxl;
    color: $color-white;
    margin-bottom: 16px;

    @include media(mobile) {
      font-size: 28px;
    }
  }

  &__text {
    font-family: $font-primary;
    font-size: $font-size-md;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 40px;

    @include media(mobile) {
      font-size: $font-size-sm;
    }
  }

  &__button--disabled {
    display: inline-block;
    font-family: $font-primary;
    font-weight: 600;
    font-size: $font-size-md;
    padding: 12px 24px;
    border-radius: $border-radius-min;
    text-align: center;

    background-color: rgba($color-white, 0.2);
    color: rgba($color-white, 0.7);
    cursor: default;
    pointer-events: none;

    @include media(tablet) {
      font-size: $font-size-sm;
      padding: 10px 20px;
    }
  }
}

